@import '../../config';

.user-search {
  padding: 1%;
  margin: 1%;

  .user-search-form {
    margin: 1% 0;
    border-radius: 4px;

    input {
      padding: 0.5em;
      border-radius: 4px 0 0 4px;
      border: none;
      &:focus {
        outline: none;
      }
    }
    #go-btn {
      border-radius: 0 4px 4px 0;
      color: $white-text;
      font-weight: bolder;
      background-color: lighten($color: $bg, $amount: 40%);
      cursor: pointer;
    }
  }

  #clear-btn {
    border: none;
    padding: 0.5em 0;
    border-radius: 4px;
    background-color: $bg;
    color: $white-text;
  }
}
